#start-modal {
  display: none;
}

#pause-modal {
  display: none;
}

#gameover-modal {
  display: none
}

#win-modal {
  display: none;
}

.modal-content {
  z-index: 2;
  color: black;
  background-color: white;
  position: absolute;
  left: calc(50vw - 13.5%);
  top: calc(50vh - 25%);
  border: 2px solid black;
  padding: 20px;
  width: 27%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
}

.modal-content:hover {
    cursor: default;
}

.modal-header {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 15px;
  margin-bottom: 15px;
  font-size: 50px;
  color: black; 
}

.modal-text {
  font-family: Arial, Helvetica, sans-serif;
  /* padding-top:  */
  font-size: 18px;
  color: black;
}

.revisit-modal-text {
  font-family: Arial, Helvetica, sans-serif;
  /* padding-top:  */
  font-size: 16px;
  color: black;
}

.start {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 40px;
  font-size: 35px;
  color: black;
  padding: 5px 20px;
  border: 1px solid black;
  border-radius: 3px;
  transition: 0.1s;
}

.start:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

.resume {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 40px;
  font-size: 35px;
  color: black;
  padding: 5px 20px;
  border: 1px solid black;
  border-radius: 3px;
  transition: 0.1s;
}

.resume:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

.modal-links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 15px;
    font-size: 35px;
    color: black;
}

.link-me {
    color: black;
    text-decoration: none;
    padding: 5px;
}

.link-me:visited {
    color: black;
}

.modal-content {
  z-index: 2;
  color: black;
  background-color: white;
  position: absolute;
  left: calc(50vw - 13.5%);
  top: calc(50vh - 25%);
  border: 2px solid black;
  padding: 20px;
  width: 27%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
}

.modal-content:hover {
    cursor: default;
}

.modal-header {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 15px;
  margin-bottom: 15px;
  font-size: 50px;
  color: black; 
}

.modal-text {
  font-family: Arial, Helvetica, sans-serif;
  /* padding-top:  */
  font-size: 18px;
  color: black;
}

.gameover-modal-text {
  font-family: Arial, Helvetica, sans-serif;
  /* padding-top:  */
  font-size: 16px;
  color: black;
}

.restart {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 40px;
  font-size: 35px;
  color: black;
  padding: 5px 20px;
  border: 1px solid black;
  border-radius: 3px;
  transition: 0.1s;
}

.restart:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

.win-modal-header {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 15px;
  margin-bottom: 15px;
  font-size: 50px;
  color: black; 
  text-align: center;
}